.container .navbar-top .collapse .trangchu h6 {
    border-bottom: 3px solid #FFAF00 !important;
}
.circle-dot .on {
    background-color: #817d73 ;
}

.container .content-5 .content-5-item, 
.container .content-6 .content-6-item,
.container .content-7 .content-7-item {
    width: 260px;
    margin: 0 10px 0 14px;
    height: 397px;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.container .content-5 .content-5-item img,
.container .content-6 .content-6-item img,
.container .content-7 .content-7-item img {
    position: absolute;
    top: 24px;
    left: 11px;
    width: 237px;
    height: 237px;
    border-radius: 16px;
}
.container .content-5 .content-5-item .name,
.container .content-6 .content-6-item .name,
.container .content-7 .content-7-item .name {
    position: absolute;
    top: 273px;
    left: 24px;
}
.container .content-5 .content-5-item .price,
.container .content-6 .content-6-item .price,
.container .content-7 .content-7-item .price {
    position: absolute;
    top: 325px;
    left: 24px;
    color: #009EFE;
}
.container .text-title-9 h4,
.container .text-title-4 h4, 
.container .text-title-5 h4,
.container .text-title-6 h4,
.container .text-title-7 h4,
.content-8-right .text-title h4
{
    font-family: sans-serif;
    font-style: normal;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    margin-bottom: 4px;
}
.container .text-title-9 p,
.content-8-right .text-title p,
.container .text-title-4 p ,
.container .text-title-5 p ,
.container .text-title-6 p ,
.container .text-title-7 p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: #000000;
    width: 600px;
}

.content-5 .row .on,
.content-6 .row .on,
.content-7 .row .on {
    border: 2px solid #FFAF00;
    height: 453px;
}
.content-5 .row .content-5-item .paynow,
.content-6 .row .content-6-item .paynow,
.content-7 .row .content-7-item .paynow {
    background-color: #FFAF00;
    position: absolute;
    top: 397px;
    width: 210px;
    height: 40px;
    border-radius: 12px;
    left: 24px;
    text-align: center;
}
.content-5 .row .content-5-item .paynow h6,
.content-6 .row .content-6-item .paynow h6,
.content-7 .row .content-7-item .paynow h6 {
    line-height: 40px;
}
.content-5 .content-5-item .circle-dot-5,
.content-6 .content-6-item .circle-dot-6,
.content-7 .content-7-item .circle-dot-7 {
    flex: 0 0 100%;
    max-width: 100%;
    position: absolute;
    top: 357px;
    left: 24px;
}
.content-5 .content-5-item .circle-dot-5 .dot1,
.content-5 .content-5-item .circle-dot-5 .dot2,
.content-5 .content-5-item .circle-dot-5 .dot3,
.content-5 .content-5-item .circle-dot-5 .dot4,
.content-6 .content-6-item .circle-dot-6 .dot1,
.content-6 .content-6-item .circle-dot-6 .dot2,
.content-6 .content-6-item .circle-dot-6 .dot3,
.content-6 .content-6-item .circle-dot-6 .dot4,
.content-7 .content-7-item .circle-dot-7 .dot1,
.content-7 .content-7-item .circle-dot-7 .dot2,
.content-7 .content-7-item .circle-dot-7 .dot3,
.content-7 .content-7-item .circle-dot-7 .dot4 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;

}
.content-5 .content-5-item .circle-dot-5 .dot1 ,
.content-6 .content-6-item .circle-dot-6 .dot1,
.content-7 .content-7-item .circle-dot-7 .dot1 {
    background-color: #EF9CD6;
}
.content-5 .content-5-item .circle-dot-5 .dot2 ,
.content-6 .content-6-item .circle-dot-6 .dot2 ,
.content-7 .content-7-item .circle-dot-7 .dot2 {
    background-color: #85CEF2;
}
.content-5 .content-5-item .circle-dot-5 .dot3,
.content-6 .content-6-item .circle-dot-6 .dot3,
.content-7 .content-7-item .circle-dot-7 .dot3 {
    background-color: #F4EA88;
}
.content-5 .content-5-item .circle-dot-5 .dot4,
.content-6 .content-6-item .circle-dot-6 .dot4,
.content-7 .content-7-item .circle-dot-7 .dot4 {
    background-color: #FFFFFF;
}